.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-selector {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.component-selector button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

.component-selector button:hover {
  background-color: #0d47a1;
}
