.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: linear-gradient(
    to bottom,
    #f2f6f8 0%,
    #d8e1e7 50%,
    #b5c6d0 51%,
    #e0eff9 100%
  );
  border: solid 2px black;
  width: 100%;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-link:hover {
  transform: scale(1.05);
  transition: transform 0.1s linear;
}


