
.alternative-blood-btn{
   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.alternative-blood-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; z-index: 1;
}
.alternative-blood-form p {
  text-align: center;
}

.alternative-blood-component button {
  margin-bottom: 30px;
  
}
.radio-inputs-div{
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-right: 5px;
}
.alternative-blood-component select,
.alternative-blood-component input {
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="number"] {
  flex: 1;
  margin-left: 10px;
}

label span {
  font-weight: bold;
  width: 100px;
}
.result{
  display: flex;
  flex-direction: column;
}

.result-item {
  display: block;
  margin-bottom: 10px;
}

.medical-questionnaire {
  display: flex;
  flex-wrap: wrap;
}

.medical-questionnaire .checkbox-question {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.medical-questionnaire .checkbox-question label {
  flex-grow: 1;
  margin-right: 10px;
  padding: 3px 50px;
}

.medical-questionnaire .checkbox-question input[type="checkbox"] {
  margin-left: 10px;
}

