.homePage-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 800px;
  flex-direction: column;
  gap: 32px;
  border-radius: 15px;
  background: #dbe6f6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #c5796d,
    #dbe6f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #c5796d,
    #dbe6f6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 30px;
}

